.container {
    /*margin-top: 50px;*/
}

h1 {
    margin-bottom: 30px;
}

.table {
    font-size: 14px;
}

.card {
    margin-top: 30px;
}

.list-group-item {
    padding: 10px 15px;
}

.badge {
    font-size: 14px;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

    .btn-primary:active,
    .btn-primary:focus {
        box-shadow: none;
    }
