@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Employee/Views/Share/_EmployeeLayout.cshtml";
}

@*<h2>Admin Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Categories</h4>
            <a asp-area="Admin" asp-controller="Categories" asp-action="Index">Manage Categories</a>
        </div>
        <div class="col-md-3">
            <h4>Order Details</h4>
            <a asp-area="Admin" asp-controller="OrderDetails" asp-action="Index">Manage Order Details</a>
        </div>
        <div class="col-md-3">
            <h4>Orders</h4>
            <a asp-area="Admin" asp-controller="Orders" asp-action="Index">Manage Orders</a>
        </div>
        <div class="col-md-3">
            <h4>Products</h4>
            <a asp-area="Admin" asp-controller="Products" asp-action="Index">Manage Products</a>
        </div>
    </div>
</div>*@

